.loginMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    position: relative;
}

.loginMainOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.loginMainForm {
    position: relative;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.loginMainForm h2 {
    font-size: 20px;
}

.loginTitle {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.inputGroup {
    position: relative;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.otpSection input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    border-radius: 0px 3px 3px 0px;
    margin: 10px 0px;
}

.inputGroup input,
.inputGroup select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    border-radius: 0px 3px 3px 0px
}

.inputGroup select {
    padding-left: 10px;
    appearance: none;
    background: white;
    cursor: pointer;
}

.iconLogo {

    background-color: #EAE3F6;
    padding: 11px 13px;
    border-radius: 3px 0px 0px 3px;
}

.icon {

    color: #6F42C1;

}

.loginActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 10px 0;
}

.loginActions a {
    color: #2575fc;
    text-decoration: none;
}

.loginButton {
    width: 100%;
    padding: 12px;
    background: #2575fc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.loginButton:hover {
    background: #1a5bbf;
}

.registerRedirect {
    margin-top: 15px;
    font-size: 14px;
}

.registerRedirect a {
    color: #2575fc;
    text-decoration: none;
    font-weight: bold;
}

.timer {
    color: green;
    margin: 0;
    padding-bottom: 10px;
    font-size: 20px;
}